/* style.css */
/* Estilos personalizados */
:root{
  --pizza-red: #E3342F;
  --pizza-orange: #FF8800;
  --pizza-bg: #F7F7F7;
  --font-inter: 'Inter', sans-serif;
}

body{
  font-family: var(--font-inter);
  background-color: var(--pizza-bg);
  margin: 0;
  padding: 0;
}

.card{
  box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}

/* classe usada no HTML */
.text-pizza-red{
  color: var(--pizza-red);
}

#delivery-map{
  border-radius: 0.5rem;
  border: 2px solid rgba(2,84,249,0.15);
  background-color: #f7f3e8;
  width: 100%;
  max-width: 900px;
}

#route-path div {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
}
